<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Contries</title>

    <style>
        ul li {
            display: inline;
            padding-right: 50px;
        }
    </style>
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/countries_list">Список городов</a></li>
            <li><a href="/work">Work</a></li>
        </ul>
        <hr />
    </header>

    <h1>Произвольное приветствие</h1>
    <h2><a href="/countries_list">Ссылка</a> на страницу стран</h2>
</body>

</html>