<!DOCTYPE html>
<html lang="ru-ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров БД</title>
    <style>
        .menu li {
            display: inline;
            padding-right: 50px;
        }
    </style>
</head>

<body>
    <header>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/countries_list">Список стран Json</a></li>
            <li><a href="/#countries_list_db">Список стран БД</a></li>
            <li><strong>Список товаров БД</strong></li>
        </ul>
        <hr />
    </header>
    {% for item in items %}
    <div style="display:inline-table; width: 200px; height: 200px; border: 1px solid; padding: 5px;">
        <p><strong><a href="/item/{{ item.id }}">{{ item.name }} '{{ item.brand }}'</a></strong></p>
        {% if item.description != "" %}
        <p>{{ item.description }}</p>
        {% endif %}
    </div>
    {% endfor %}

</body>

</html>