<!DOCTYPE html>
<html lang="ru-ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товар</title>
    <style>
        ul li {
            display: inline;
            padding-right: 50px;
        }
    </style>
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/countries_list">Список стран Json</a></li>
            <li><a href="/#countries_list_db">Список стран БД</a></li>
            <li><a href="/items">Список товаров БД</a></li>
        </ul>
        <hr />
    </header>

    <h1>{{ item.name }}</h1>
    <h3>Бренд: {{ item.brand }}</h3>
    <h3>{% if item.count == 0 %}
        Товар отсутствует
        {% else %}
        Количество: {{ item.count }} ед.
        {% endif %}
    </h3>
    <h3>{% if item.description == "" %}
        Описание отсутствует
        {% else %}
        Описание: {{ item.description }}
        {% endif %}
    </h3>
</body>

</html>